.header {
    @include flex-row();
    width: 100%;
    height: 78px;
    padding: 16px 140px;
    align-items: center;
    justify-content: space-between;
    &__logo {
        position: relative;
        width: 130px;
    }
    &__text-box {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-style: normal;
    }
    &__text-1 {
        font-family: 'Tilda 600';
        padding-right: 12px;
    }  
    &__marker-img {
        position: relative;
        padding-right: 9px;
    }
    &__text-2 {
        b {
            font-family: 'Tilda 600';
        }
    }
    &__search-box{
        @include flex-row();
        font-family: 'Tilda 600';
        align-items: center;
        justify-content: space-between;
    }
    &__button {
        @include flex-row();
        font-family: 'Tilda 600';
        width: 120px;
        height: 46px;
        align-items: center;
        border: none;
        cursor: pointer;
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 20px 40px 0px rgba(255, 174, 0, 0.29), 0px 5px 10px 0px rgba(255, 174, 0, 0.26);
        @include btn-eff();
    }
    &__user-img {
        padding-right: 10px;
    }
    &__btn-cont {
        font-size: 16px;
        color: #FFB800;
    }
}

//Под Smaller smartphones ----------------------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-width: 0) and (max-width: 767px) {
    .header {
        padding: 16px 40px;
        &__logo {
            width: 110px;
        }
        &__text-box {
            display: none;
        }
    }
}

//Под Small vertical desktops ----------------------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-width: 767px) and (max-width: 819px) {
    .header {
        padding: 16px 60px;
        &__logo {
            width: 110px;
        }
        &__text-box {
            font-size: 12px;
        }
    }
}

//Под Laptops, larger tablets (landscape) and small desktops ----------------------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-width: 820px) and (max-width: 1024px) {
    .header {
        padding: 16px 60px;
        &__logo {
            width: 110px;
        }
        &__text-box {
            font-size: 14px;
        }
    }
}

//Под Larger desktops and monitors----------------------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-width: 1180px) {
    .header {
        padding: 16px 100px;
    }
}